<table>
  <tbody>
    <tr>
      <th>Авиакомпания</th>
      <th>Вылет</th>
      <th>В пути</th>
      <th>Прилет</th>
      <th>Детали перелета</th>
      <th>Цена</th>
      <th>Метки</th>
      <th width= '30%'>Cсылка</th>
    </tr>
    <% @results.each do |result| %>
    <tr class ="<%= 'underline-row' if !result[:backward]%>">
      <%= partial :flight_info, locals: { result: result[:forward]}  %>
    </tr>
    <tr class="underline-row">
      <%= partial :flight_info, locals: { result: result[:backward]} if  result[:backward] %>
    </tr>
    <% end %>
  </tbody>
</table>
