table {
    width: 100%;
    border-collapse: collapse;
}

#return_date_input {
    display: none;
}
th{
  border: 1px solid black;
}
td {
    border-left: 1px solid black;
    border-right: 1px solid black
}

.underline-row {
    border-bottom: 1px solid black;
}
